<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Blankr.</string>
	<key>CFBundleName</key>
	<string>Blankr.</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain Text</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Rich Text Document</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Source Code and Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.json</string>
				<string>public.xml</string>
				<string>public.yaml</string>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Code (by extension)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
				<string>tsx</string>
				<string>mts</string>
				<string>cts</string>
				<string>jsx</string>
				<string>mjs</string>
				<string>cjs</string>
				<string>vue</string>
				<string>svelte</string>
				<string>astro</string>
				<string>md</string>
				<string>markdown</string>
				<string>mdx</string>
				<string>kt</string>
				<string>kts</string>
				<string>gradle</string>
				<string>dart</string>
				<string>scala</string>
				<string>sc</string>
				<string>rs</string>
				<string>go</string>
				<string>ex</string>
				<string>exs</string>
				<string>erl</string>
				<string>clj</string>
				<string>cljs</string>
				<string>edn</string>
				<string>hs</string>
				<string>nim</string>
				<string>cr</string>
				<string>jl</string>
				<string>ml</string>
				<string>mli</string>
				<string>fs</string>
				<string>fsx</string>
				<string>fsi</string>
				<string>proto</string>
				<string>toml</string>
				<string>ini</string>
				<string>cfg</string>
				<string>conf</string>
				<string>env</string>
				<string>lock</string>
				<string>log</string>
				<string>gql</string>
				<string>graphql</string>
				<string>tf</string>
				<string>hcl</string>
				<string>dockerfile</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
</dict>
</plist>
